@use 'base/variables' as v;
@use 'base/mixins' as m;
@use 'sass:color';

.acciones{
    margin-top: 5rem;
    @include m.tablet {
        display: flex;
        justify-content: space-between;
    }
    &__enlace {
        display: block;
        text-align: center;
        margin-bottom: 2rem;
        color: v.$negro;
        &:last-of-type {
            margin-bottom: 0;
        }
    }
}