@use 'base/mixins' as m;
@use 'base/variables' as v;
@use 'sass:color';

.mobile {
    background-color: v.$gris;
    padding: 2rem 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: v.$blanco;
    &__logo {
        transform: skew(-10deg);
        margin: 0;
        color: v.$blanco;
        font-size: 3.6rem;
    }
    &__menu {
        &__icono {
            font-size: 2.2rem;
            font-weight: v.$bold;
            &:hover {
                cursor: pointer;
            }
        }
    }
    @include m.tablet {
        display: none;
    }
}

.barra {
    display: none;
    @include m.tablet {
        background-color: v.$blanco;
        padding: 1rem 2rem;
        box-shadow: 1px 12px 9px -13px rgba($color: #666, $alpha: 0.4);
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__sesion {
        margin: 0;
        font-size: 1.5rem;
    }
    &__nombre {
        font-weight: 700;
    }
    &__cerrar {
        @include m.boton(v.$gris, v.$blanco);
        width: auto;
        border-radius: .5rem;
        font-size: 1.5rem;
        padding: 1rem;
    }
}