@use 'base/variables' as v;
@use 'base/mixins' as m;
@use 'sass:color';

.formulario {
    margin-top: 5rem;
    &__campo {
        display: flex;
        align-items: center;
        gap: 1rem;
        margin-bottom: 2rem;
        &--filtro {
            @include m.desktop {
                margin-bottom: 0;
            }
        }
    }
    &__label {
        flex: 0 0 10rem;
    }
    &__input {
        flex: 1;
        border: none;
        background-color: v.$gris-claro;
        padding: 1rem;
        max-width: 100%;
        width: 100%;
        &--filtro {
            box-sizing: border-box;
            max-width: 100%;
            width: 100%;
        }
    }
    &__submit {
        @include m.boton(v.$negro, v.$blanco);
        &--filtro {
            border-radius: 1rem;
            font-size: 1.5rem;

            @include m.desktop {
                width: auto;
            }
        }
        &--perfil {
            margin-bottom: 1rem;
        }
    }
    &__descripcion {
        color: v.$gris;
    }
    &--filtro,
    &--perfil {
        display: flex;
        flex-wrap: wrap;
        margin-top: 0;
        @include m.desktop{
            display: flex;
            justify-content: space-evenly;
        }
    }
    &--perfil {
        flex-direction: column;
    }
}