@use 'base/variables' as v;
@use 'base/mixins' as m;
@use 'sass:color';

.tabla {
    width: 100%;
    border-collapse: collapse;
    &__head {
        display: none;
        background-color: v.$gris-oscuro;
        color: v.$blanco;
    }
    &__tr {
        display: block;
        margin-bottom: 1.5rem;
        padding: 1rem;
        border: 1px solid #ddd;
        border-radius: 0.8rem;
    }
    &__td {
        display: flex;
        justify-content: space-between;
        padding: 0.8rem 0.5rem;
        border-bottom: 1px solid #eee;
        &--acciones {
            @extend .tabla__td;
            display: flex;
            justify-content: flex-start;
            gap: 2rem;
            align-items: center;
        }
        &:last-child {
            border-bottom: none;
        }
        &::before {
            content: attr(data-label);
            font-weight: bold;
        }
    }
    &__accion {
        all: unset;
        text-transform: uppercase;
        font-size: 1.4rem;
        font-weight: v.$bold;
        &--editar {
            color: v.$azul;
        }
        &--eliminar {
            color: v.$rojo;
        }
        &:hover {
            cursor: pointer;
        }
    }
}
.caja {
    padding: 2rem;
    background-color: v.$blanco;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0 8px 16px -8px;
    border-radius: 1rem;
}

@include m.tablet {
    .tabla {
        display: table;
        &__head {
            display: table-header-group;
        }
        &__th {
            display: table-cell;
            padding: 1rem;
            text-align: left;
        }
        &__body {
            display: table-row-group;
        }
        &__tr {
            display: table-row;
            border: none;
            &:nth-child(even) {
                background-color: color.adjust(v.$gris-claro, $lightness: -3%);
            }
        }
        &__td {
            display: table-cell;
            padding: 1.5rem 1rem;
            &--acciones {
                @extend .tabla__td;
                display: flex;
                justify-content: flex-start;
                gap: 2rem;
                align-items: center;
            }
            &::before {
                display: none;
            }
        }
    }
}