@use 'base/variables' as v;
@use 'base/mixins' as m;

.auth {
    @include m.contenedor;
    &__logo {
        text-align: center;
        font-size: 7.3rem;
        font-weight: 900;
        transform: skew(-10deg);
        margin: 5rem 0 0 0;
    }
    &__logo a {
        color: v.$negro;
    }
    &__tagline {
        font-weight: 700;
        font-size: 3rem;
        text-align: center;
    }
    &__descripcion {
        @include m.contenedor-sm;
        &--titulo {
            text-align: center;
        }
    }
    &__boton {
        @include m.boton(v.$negro, v.$blanco);
    }
}