@use 'base/variables' as v;
@use 'base/mixins' as m;


.pagina_404 {
    &__heading {
        font-weight: v.$black;
        margin: 6rem 0 3rem 0;
        text-align: center;
    }
    &__contenedor {
        text-align: center;
    }

    &__enlace {
        color: v.$gris;
    }
}