@use 'base/variables' as v;
@use 'base/mixins' as m;
@use 'sass:color';

.categorias {
    list-style: none;
    padding: 0;
    &__no-categorias {
        text-align: center;
    }
}

.categoria {
    padding: .5rem 2rem;
    border-bottom: 2px solid color.adjust(v.$gris-claro, $lightness: -10%);
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &:last-of-type {
        border: none;
    }

    &__opciones {
        display: flex;
        gap: 1rem;
        &__boton {
            border: none;
            font-size: 1.2rem;
            padding: .5rem 1rem;
            text-transform: uppercase;
            font-weight: v.$bold;
            border-radius: 1rem;

            &--eliminar {
                background-color: v.$rojo;
                color: v.$blanco;
                transition: background-color .2s;
                &:hover {
                    cursor: pointer;
                    background-color: color.adjust(v.$rojo, $lightness: -10%);
                }
            }

            &--editar {
                background-color: v.$azul;
                color: v.$blanco;
                transition: background-color .2s;
                &:hover {
                    cursor: pointer;
                    background-color: color.adjust(v.$azul, $lightness: -10%);
                }
            }

        }
    }
}