@use 'base/variables' as v;
@use 'base/mixins' as m;
@use 'sass:color';

.bloques {
    @include m.contenedor;
    &__grid{ 
        @include m.grid(1, 3rem);
        @include m.desktop {
            @include m.grid(3, 3rem);
        }
    }
}

.bloque {
    padding: 2rem;
    color: v.$blanco;
    border-radius: 1rem;
    &--ingresos {
        background-color: v.$verde-oscuro;
    }
    &--egresos {
        background-color: v.$rojo-oscuro;
    }
    &--balance {
        background-color: v.$citrine;
    }
    &__heading {
        margin: 1rem 0  2rem 0;
        font-size: 3.2rem;
        text-align: center;
        font-weight: v.$bold;

    }
    &__texto {
        margin: 1rem 0;
        &--cantidad {
            margin-top: 5rem;
            font-weight: v.$black;
            font-size: 3.6rem;
            text-align: center;
        }
    }
}